@charset "ISO-8859-1";

.container {
	margin-top: 50px;
}
a:link {
  text-decoration: underline;
}
.landing {
	margin-left: 125px;
}
.table-striped {
	border: 2px solid #C8C8C8;
}
td, th {
	border-left: 2px solid #C8C8C8;
}
.td-spacer {
	padding: 15px;
}
label {
	width: 15%;
}
.addbtn {
	margin-left: 300px;
}